<%= form_with url: new_comment_path do |f| %>
  
  <%= f.hidden_field :author_id, value: params[:user_id] %><br>
  <%= f.hidden_field :post_id, value: params[:post_id] %><br>  
      <div class="flex-col input-box">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="flex-col input-box" >
      <%= f.label :text %>
      <%= f.text_area :text %>
    </div>
    <%= f.submit "Submit", :class => "btn submit" %>
  <% end %>

</section> 